html {
  font-size: 62.5%; }

body {
  font-family: "Vazir", sans-serif;
  background-color: #f9f7f6; }

.drawer {
  top: 0;
  bottom: 0;
  right: -30rem;
  width: 30rem;
  transition-duration: 0.5s;
  z-index: 2;
  overflow-y: scroll; }
  .drawer__wavy-bg {
    background: url("../img/drawer.svg");
    background-position: bottom;
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    height: 18rem; }
  .drawer__close-btn {
    width: 3.3rem;
    height: 3.3rem;
    display: block;
    margin: 1rem 1rem 0.4rem auto;
    font-size: 2.7rem;
    line-height: 1.1;
    position: relative;
    z-index: 1; }
  .drawer__log-btn {
    width: 15rem;
    height: 4rem;
    font-size: 1.6rem;
    margin-bottom: 5rem;
    border-radius: 0.8rem;
    position: relative;
    z-index: 1; }
  .drawer__left-border {
    position: absolute;
    top: 14.4rem;
    left: 0;
    height: 65%;
    width: 1rem;
    border-top-right-radius: 2rem;
    border-bottom-right-radius: 2rem;
    background-color: #fdc500; }

body::before {
  content: "";
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  position: fixed;
  z-index: 2;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.4s; }

.fixed-btn {
  width: 12rem;
  height: 12rem;
  border-radius: 50%;
  position: fixed;
  border: 3px #239eeb dashed;
  z-index: 2;
  cursor: pointer;
  transition: all 0.3s;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0;
  animation: startup_fixed 1s 2s forwards; }
  .fixed-btn__text {
    font-size: 1.5rem;
    font-weight: 500;
    color: #239eeb;
    text-align: center; }
  .fixed-btn:hover {
    box-shadow: 0rem 0rem 5rem rgba(35, 158, 235, 0.6);
    transform: scale(1.1); }
  .fixed-btn--left {
    background-color: #f9f7f6;
    bottom: 22%;
    left: 4%; }
    .fixed-btn--left .fixed-btn__img {
      padding-left: 1.7rem;
      width: 60%;
      height: 60%; }
  .fixed-btn--right {
    background-color: #f9f7f6;
    bottom: 22%;
    right: 4%; }
    .fixed-btn--right .fixed-btn__img {
      width: 50%;
      height: 50%; }

@keyframes startup_fixed {
  to {
    opacity: 1; } }

.footer {
  position: relative;
  z-index: 3;
  background-color: #239eeb;
  height: 30rem; }
  @media only screen and (min-width: 62em) {
    .footer {
      background-color: initial;
      background-image: url("../img/footer.svg");
      background-size: cover;
      background-position: top;
      height: 50rem; } }
  .footer__bimsa-logo {
    width: 15rem; }
  .footer__logo-large {
    width: 7rem;
    height: 7rem; }
  .footer__logo-small {
    width: 2rem;
    height: 2rem; }
  .footer__text {
    font-size: 1.4rem; }
    @media only screen and (min-width: 62em) {
      .footer__text {
        font-size: 1.8rem; } }
  .footer__bottom {
    width: 100%;
    border-top-right-radius: 5rem;
    border-top-left-radius: 5rem;
    background-color: #fdc500;
    align-self: flex-end; }
    @media only screen and (min-width: 62em) {
      .footer__bottom {
        margin-top: 0rem; } }
    .footer__bottom p {
      font-size: 1.2rem;
      font-weight: 400;
      color: #fff;
      text-align: right; }
      @media only screen and (min-width: 48em) {
        .footer__bottom p {
          font-size: 1.6rem; } }

header {
  position: relative;
  padding-top: 2rem;
  padding-bottom: 5rem;
  background-image: url("../img/insurance.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden; }
  @media only screen and (min-width: 48em) {
    header {
      padding-top: 5rem;
      padding-bottom: 15rem;
      background-image: url("../img/asset-1.png");
      background-attachment: fixed; }
      header::before {
        content: "";
        bottom: 0;
        left: 0;
        right: 0;
        height: 4.5rem;
        background-image: url("../img/head1.svg");
        background-position: top;
        background-repeat: repeat;
        background-size: cover;
        padding-right: 1rem;
        position: absolute;
        z-index: 2;
        opacity: 0;
        animation: startup_header 1s 2s forwards; }
      header::after {
        content: "";
        bottom: 0;
        left: 0;
        right: 0;
        height: 9rem;
        background-image: url("../img/head2.svg");
        background-position: top;
        background-repeat: no-repeat;
        background-size: cover;
        position: absolute;
        z-index: 2;
        opacity: 0;
        animation: startup_header 1s 2s forwards; }
    @keyframes startup_header {
      to {
        opacity: 1; } } }
  header .head0 {
    bottom: -1.5rem;
    left: -6rem;
    right: 0;
    position: absolute;
    z-index: 2;
    height: 3rem;
    width: 1200vw; }
    header .head0__item {
      background-image: url("../img/head0.svg");
      background-size: cover;
      height: 4rem;
      width: 20rem; }
      header .head0__item:not(:first-child) {
        margin-left: -10.4rem; }

.bime-box {
  border-top: 4rem solid #239eeb;
  border-radius: 1rem 1rem 3rem 3rem;
  overflow: hidden;
  max-width: 40rem;
  opacity: 0;
  animation: startup_bime-box 1s 2s forwards; }
  @media only screen and (min-width: 48em) {
    .bime-box {
      margin-bottom: 5.2rem;
      max-width: 65rem; } }
  @media only screen and (min-width: 62em) {
    .bime-box {
      margin-bottom: 6.5rem;
      max-width: 82rem; } }
  .bime-box > *:nth-child(2n + 1) {
    border-right: 0.3rem solid #239eeb; }
  .bime-box > *:not(:nth-child(n + 7)) {
    border-bottom: 0.3rem solid #239eeb; }
  @media only screen and (min-width: 48em) {
    .bime-box > * {
      border: none !important; }
    .bime-box > *:not(:nth-child(4n)) {
      border-right: 0.3rem solid #239eeb !important; }
    .bime-box > *:nth-child(-n + 4) {
      border-bottom: 0.3rem solid #239eeb !important; } }
  .bime-box__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(249, 247, 246, 0.7);
    width: 100%;
    height: 100%;
    transition: all 0.2s;
    cursor: pointer;
    margin: 0;
    height: 12rem; }
    @media only screen and (min-width: 48em) {
      .bime-box__item {
        height: 17rem; } }
    .bime-box__item:hover {
      background-color: white; }
      .bime-box__item:hover > * {
        transform: scale(1.2); }
  .bime-box__img {
    width: 6rem;
    margin-bottom: 1.8rem; }
    @media only screen and (min-width: 48em) {
      .bime-box__img {
        width: 8rem; } }
  .bime-box__text {
    width: 100%;
    text-align: center;
    color: #239eeb;
    font-weight: 1000;
    font-size: 1.4rem; }
    @media only screen and (min-width: 48em) {
      .bime-box__text {
        font-size: 1.6rem; } }

@keyframes startup_bime-box {
  to {
    opacity: 1; } }

.navbar {
  border-bottom: 12px solid #f9f7f6; }
  .navbar__text {
    text-decoration: none !important;
    font-size: 1.7rem;
    border-radius: 0.5rem;
    color: #6d5d4b;
    cursor: pointer;
    transition: all 0.1s;
    line-height: 2; }
    .navbar__text:hover {
      color: #fff;
      background-color: #239eeb; }
  .navbar__account-img-2 {
    width: 5.5rem; }
  .navbar__account-img-1, .navbar__menu-img {
    width: 4rem; }
  .navbar__bimsa-text {
    font-size: 2rem;
    font-weight: 600;
    color: #239eeb;
    line-height: 2; }
    @media only screen and (min-width: 48em) {
      .navbar__bimsa-text {
        font-size: 2.8rem; } }
  .navbar__bimsa-logo {
    width: 5rem;
    position: relative;
    z-index: 1;
    transform: scale(2.5) translate(0vw, 10vh);
    animation: startup_bimsa-logo 2s 2s forwards; }
    @media only screen and (min-width: 48em) {
      .navbar__bimsa-logo {
        transform: scale(4.5) translate(-9vw, 10vh);
        margin-top: auto; } }

@keyframes startup_bimsa-logo {
  100% {
    transform: none; } }

.operations .down-arrow {
  display: block;
  margin: 0 auto;
  transform: translateY(-17rem);
  animation: startup_down-arrow 1s 2s forwards;
  opacity: 0; }
  .operations .down-arrow:hover {
    box-shadow: 0 0rem 4rem #fdc500;
    border-radius: 50%; }

@keyframes startup_down-arrow {
  to {
    opacity: 1; } }

.operations .operations-box {
  overflow: hidden;
  max-width: 77rem;
  animation: startup_operations 1s 2s forwards;
  position: relative;
  z-index: 2; }
  @media only screen and (min-width: 48em) {
    .operations .operations-box {
      max-width: 70rem;
      border-radius: 5rem;
      box-shadow: 0 2rem 5rem rgba(0, 0, 0, 0.3);
      margin-bottom: 5rem;
      opacity: 0; }
    @keyframes startup_operations {
      to {
        opacity: 1;
        margin-top: -15rem; } } }
  @media only screen and (min-width: 62em) {
    .operations .operations-box {
      max-width: 85rem;
      opacity: 0; }
    @keyframes startup_operations {
      to {
        opacity: 1;
        margin-top: -16rem; } } }
  .operations .operations-box .options {
    position: relative; }
    .operations .operations-box .options__ring-big {
      height: 30rem;
      width: 30rem;
      border-radius: 50%;
      position: absolute;
      top: 5rem;
      right: -15rem; }
    .operations .operations-box .options__ring-small {
      height: 10rem;
      width: 10rem;
      border-radius: 50%;
      position: absolute;
      top: 14.5rem;
      right: -5rem; }
    .operations .operations-box .options__item {
      box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.3), inset 1px 2.5px 3px rgba(0, 0, 0, 0.3), inset 0px -0.3px 2px rgba(0, 0, 0, 0.3);
      border: 4px #f9f7f1 solid; }
      .operations .operations-box .options__item--1 {
        width: 4rem;
        position: absolute;
        top: 3rem;
        right: 0; }
      .operations .operations-box .options__item--2 {
        width: 6rem;
        position: absolute;
        top: 5rem;
        right: 6rem; }
      .operations .operations-box .options__item--3 {
        width: 8rem;
        position: absolute;
        top: 15rem;
        right: 11rem; }
      .operations .operations-box .options__item--4 {
        width: 6rem;
        position: absolute;
        top: 28rem;
        right: 6rem; }
      .operations .operations-box .options__item--5 {
        width: 4rem;
        position: absolute;
        top: 33rem;
        right: 0; }
    .operations .operations-box .options__ring-text {
      margin-top: 6rem; }
      .operations .operations-box .options__ring-text h2 {
        font-size: 1.8rem; }
    .operations .operations-box .options__dot {
      position: absolute;
      width: 1rem;
      height: 1rem;
      background-color: #fdc500;
      border-radius: 50%; }
      .operations .operations-box .options__dot--1 {
        top: 14rem;
        right: 0; }
      .operations .operations-box .options__dot--2 {
        top: 19rem;
        right: 4.5rem; }
      .operations .operations-box .options__dot--3 {
        top: 24rem;
        right: 0; }
  .operations .operations-box .reminder {
    margin-top: 20rem; }
    @media only screen and (min-width: 48em) {
      .operations .operations-box .reminder {
        margin-top: 5rem; } }
    .operations .operations-box .reminder__box {
      background-color: #f9f7f6;
      border-radius: 2rem;
      position: relative; }
    .operations .operations-box .reminder__input {
      font-family: inherit;
      height: 4rem;
      padding: 1rem;
      border: none;
      border-radius: 0.8rem;
      border: 0.1rem solid #239eeb;
      padding: 0.5rem 1.8rem; }
      .operations .operations-box .reminder__input::placeholder {
        font-size: 1.1rem;
        font-weight: 1000; }
    .operations .operations-box .reminder__label {
      width: 100%;
      color: #239eeb;
      font-weight: 1000;
      font-size: 1.3rem;
      margin-bottom: 1rem;
      padding-right: 1.8rem; }
    .operations .operations-box .reminder__btn {
      width: 21.5rem;
      height: 4rem;
      border: none;
      cursor: pointer;
      grid-column: 1/-1;
      justify-self: center;
      align-self: center;
      color: #fff;
      background-color: #239eeb;
      border-radius: 0.8rem;
      font-size: 2.1rem;
      font-weight: 600;
      font-family: inherit;
      margin: 3rem; }
    .operations .operations-box .reminder .circles {
      top: -2.5rem;
      position: absolute;
      z-index: -1;
      overflow: hidden; }
      .operations .operations-box .reminder .circles .blue-dot {
        height: 7rem;
        width: 7rem;
        background-color: #239eeb;
        border-radius: 50%;
        display: inline-block;
        margin-right: -1.6rem;
        margin-left: -0.5rem; }
      .operations .operations-box .reminder .circles .yellow-dot {
        height: 8rem;
        width: 8rem;
        background-color: yellow;
        border-radius: 50%;
        display: inline-block;
        margin-right: -2.2rem; }
  .operations .operations-box .cooperators {
    position: relative;
    height: 45rem; }
    .operations .operations-box .cooperators__ring-big {
      height: 30rem;
      width: 30rem;
      border-radius: 50%;
      position: absolute;
      top: 5rem;
      left: -15rem; }
    .operations .operations-box .cooperators__ring-small {
      height: 10rem;
      width: 10rem;
      border-radius: 50%;
      position: absolute;
      top: 14.5rem;
      left: -5rem; }
    .operations .operations-box .cooperators__item {
      box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.3), inset 1px 2.5px 3px rgba(0, 0, 0, 0.3), inset 0px -0.3px 2px rgba(0, 0, 0, 0.3);
      border: 4px #f9f7f1 solid; }
      .operations .operations-box .cooperators__item--1 {
        width: 4rem;
        position: absolute;
        top: 3rem;
        left: 0; }
      .operations .operations-box .cooperators__item--2 {
        width: 6rem;
        position: absolute;
        top: 5rem;
        left: 6rem; }
      .operations .operations-box .cooperators__item--3 {
        width: 8rem;
        position: absolute;
        top: 15rem;
        left: 11rem; }
      .operations .operations-box .cooperators__item--4 {
        width: 6rem;
        position: absolute;
        top: 28rem;
        left: 6rem; }
      .operations .operations-box .cooperators__item--5 {
        width: 4rem;
        position: absolute;
        top: 33rem;
        left: 0; }
    .operations .operations-box .cooperators__ring-text {
      margin-top: 6rem; }
      .operations .operations-box .cooperators__ring-text h2 {
        font-size: 1.8rem; }
    .operations .operations-box .cooperators__dot {
      position: absolute;
      width: 1rem;
      height: 1rem;
      background-color: #fdc500;
      border-radius: 50%; }
      .operations .operations-box .cooperators__dot--1 {
        top: 14rem;
        left: 0; }
      .operations .operations-box .cooperators__dot--2 {
        top: 19rem;
        left: 4.5rem; }
      .operations .operations-box .cooperators__dot--3 {
        top: 24rem;
        left: 0; }
    @media only screen and (min-width: 48em) {
      .operations .operations-box .cooperators {
        height: 52rem;
        position: relative;
        display: grid;
        grid-template-columns: 1fr;
        align-content: space-between; } }
    .operations .operations-box .cooperators .cycle {
      display: flex;
      justify-content: center;
      align-content: flex-end; }
      .operations .operations-box .cooperators .cycle__ring-large {
        height: 270px;
        width: 650px;
        border: 2px solid #239eeb;
        border-radius: 50%;
        margin: 20px 80px;
        transform: rotate3d(1, 0, 0, 40deg);
        position: absolute; }
      .operations .operations-box .cooperators .cycle__ring-small {
        height: 5.8rem;
        width: 12rem;
        border: 2px solid #239eeb;
        border-radius: 50%;
        position: absolute;
        text-align: center;
        transform: translateY(11rem); }
        .operations .operations-box .cooperators .cycle__ring-small img {
          vertical-align: baseline; }
        .operations .operations-box .cooperators .cycle__ring-small > * {
          width: 5.5rem;
          height: 5.5rem;
          margin: -4rem 0; }
        .operations .operations-box .cooperators .cycle__ring-small .dots {
          transform-origin: center; }
          .operations .operations-box .cooperators .cycle__ring-small .dots .dot {
            width: 1rem;
            height: 1rem;
            border-radius: 50%;
            position: absolute;
            background-color: #fdc500;
            transition: all 1s; }
            .operations .operations-box .cooperators .cycle__ring-small .dots .dot--1 {
              transform: translate(4.5rem, 1.6rem); }
            .operations .operations-box .cooperators .cycle__ring-small .dots .dot--2 {
              transform: translate(10rem, 6.2rem); }
            .operations .operations-box .cooperators .cycle__ring-small .dots .dot--3 {
              transform: translate(0rem, 6rem); }
      .operations .operations-box .cooperators .cycle__item {
        position: absolute;
        width: 5rem;
        height: 5rem;
        border-radius: 50%;
        background-color: #eee;
        text-align: center;
        transition: all 1s;
        display: flex;
        justify-content: center;
        align-items: center; }
        .operations .operations-box .cooperators .cycle__item--1 {
          transform: scale(0.8) translate(20%, 62%); }
        .operations .operations-box .cooperators .cycle__item--2 {
          transform: scale(1) translate(290%, 65%); }
        .operations .operations-box .cooperators .cycle__item--3 {
          transform: scale(1.3) translate(460%, 130%); }
        .operations .operations-box .cooperators .cycle__item--4 {
          transform: scale(1.6) translate(300%, 240%); }
        .operations .operations-box .cooperators .cycle__item--5 {
          transform: scale(2.4) translate(8%, 190%); }
        .operations .operations-box .cooperators .cycle__item--6 {
          transform: scale(1.6) translate(-300%, 240%); }
        .operations .operations-box .cooperators .cycle__item--7 {
          transform: scale(1.3) translate(-460%, 130%); }
        .operations .operations-box .cooperators .cycle__item--8 {
          transform: scale(1) translate(-290%, 65%); }
      .operations .operations-box .cooperators .cycle__image {
        width: 3rem;
        height: 3rem; }
      .operations .operations-box .cooperators .cycle__btn {
        border-radius: 50%;
        width: 3rem;
        height: 3rem;
        background-color: #aaa;
        position: relative;
        transition: all 0.2s; }
        .operations .operations-box .cooperators .cycle__btn:hover {
          background-color: #fdc500; }
        .operations .operations-box .cooperators .cycle__btn--left {
          transform: scale(1) translate(-7rem, 24rem); }
          .operations .operations-box .cooperators .cycle__btn--left img {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-60%, -50%); }
          .operations .operations-box .cooperators .cycle__btn--left::before {
            content: "";
            display: inline-block;
            min-width: 2rem;
            min-height: 5rem;
            border: 2px solid #aaa;
            border-radius: 50%;
            border-top-color: transparent;
            border-bottom-color: transparent;
            border-right-color: transparent;
            transform: rotate(40deg);
            margin-top: -3.8rem;
            margin-left: 2rem; }
          .operations .operations-box .cooperators .cycle__btn--left::after {
            content: "";
            display: inline-block;
            min-width: 2rem;
            min-height: 5rem;
            border: 2px solid #aaa;
            border-radius: 50%;
            border-top-color: transparent;
            border-bottom-color: transparent;
            border-right-color: transparent;
            transform: rotate(-40deg);
            margin-left: 2rem; }
        .operations .operations-box .cooperators .cycle__btn--right {
          transform: scale(1) translate(8.8rem, 23.8rem); }
          .operations .operations-box .cooperators .cycle__btn--right img {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-40%, -50%); }
          .operations .operations-box .cooperators .cycle__btn--right::before {
            content: "";
            display: inline-block;
            min-width: 2rem;
            min-height: 5rem;
            border: 2px solid #aaa;
            border-radius: 50%;
            border-top-color: transparent;
            border-bottom-color: transparent;
            border-left-color: transparent;
            transform: rotate(-40deg);
            margin-top: -3.8rem;
            margin-left: -1.1rem; }
          .operations .operations-box .cooperators .cycle__btn--right::after {
            content: "";
            display: inline-block;
            min-width: 2rem;
            min-height: 5rem;
            border: 2px solid #aaa;
            border-radius: 50%;
            border-top-color: transparent;
            border-bottom-color: transparent;
            border-left-color: transparent;
            transform: rotate(40deg);
            position: absolute;
            top: 1.7rem;
            right: 2rem; }
    .operations .operations-box .cooperators .caption {
      background-color: rgba(249, 247, 246, 0.6);
      border-radius: 2rem;
      padding: 1.5rem 6rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 30rem; }
      .operations .operations-box .cooperators .caption__text {
        text-align: center;
        height: 99%;
        transition: all 3s; }
      .operations .operations-box .cooperators .caption__btn {
        width: 13rem;
        height: 3rem;
        color: #fff;
        background-color: rgba(35, 158, 235, 0.6);
        border-radius: 0.8rem;
        border: none;
        font-size: 1.6rem;
        font-family: inherit;
        margin: 1.2rem;
        padding: 0.2rem 0rem;
        cursor: pointer; }

.operations .up-arrow {
  background-color: #f9f7f6;
  border: 3px solid #f9f7f6;
  border-radius: 50%;
  display: block;
  margin-top: -8rem;
  margin-bottom: 5rem;
  position: relative;
  z-index: 3; }

@font-face {
  font-family: Vazir;
  src: url(../fonts/Vazir-Medium.woff); }
