.footer {
  position: relative;
  z-index: 3;

  background-color: $color-primary;
  
  height: 30rem;

  @media only screen and (min-width: $bp-lg) {
    background-color: initial;
    background-image: url("../img/footer.svg");
    background-size: cover;
    background-position: top;

    height: 50rem;
  }

  &__bimsa-logo {
    width: 15rem;
  }

  &__logo-large {
    width: 7rem;
    height: 7rem;
  }

  &__logo-small {
    width: 2rem;
    height: 2rem;
  }

  &__text{
    font-size: 1.4rem;
    @media only screen and (min-width: $bp-lg) {
      font-size: 1.8rem;
    }
  }
  &__bottom {
    width: 100%;
    border-top-right-radius: 5rem;
    border-top-left-radius: 5rem;
    background-color: $color-secondary;
    align-self: flex-end;

    @media only screen and (min-width: $bp-md) {
      //height: 5rem;
    }

    @media only screen and (min-width: $bp-lg) {
      margin-top: 0rem;
    }

    p {
      font-size: 1.2rem;
      font-weight: 400;
      color: #fff;
      text-align: right;

      @media only screen and (min-width: $bp-md) {
        font-size: 1.6rem;
      }
    }
  }
}
