.nav {
  &__account-img {
    width: 5.5rem;
  }

  &__text {
    text-decoration: none !important;
    font-size: 1.7rem;
    border-radius: 0.5rem;
    padding: 0.5rem 1rem;
    color: $color-gray-dark-2;
    cursor: pointer;
    transition: all 0.1s;

    &:hover {
      color: #fff;
      background-color: $color-primary;
    }
  }

  &__bimsa-text {
    font-size: 2rem;
    font-weight: 600;
    color: $color-primary;
    @media only screen and (min-width: $bp-md) {
        font-size: 2.8rem;
    }
  }

  &__bimsa-logo {
    width: 20%;
    margin-top: .6rem;
    position: relative;
    z-index: 1;
    transform: scale(2.5) translate(0vw, 10vh);
    @media only screen and (min-width: $bp-md) {
      transform: scale(4.5) translate(-9vw, 10vh);
      width: 25%;
      margin-top: auto;
    }
    @media only screen and (min-width: $bp-lg) {
      transform: scale(4.5) translate(-9vw, 10vh);
      width: 20%;
    }

    animation: startup_bimsa-logo 2s 2s forwards;
    @keyframes startup_bimsa-logo {
      100% {
        transform: none;
      }
    }
  }
}

.drawer {
  position: fixed;
  background-color: white;
  top: 0;
  bottom: 0;
  right: -30rem;
  width: 30rem;
  transition-duration: .5s;

  z-index: 2;
  overflow-y:scroll;

  &__wavy-bg {
    background: url("../img/drawer.svg");
    background-position: bottom;
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    height: 18rem;
  }

  &__close-btn {
    width: 3.5rem;
    height: 3.5rem;
    display: block;
    margin: 1rem 1rem .4rem auto;
    font-size: 2.8rem;
    line-height: 1.2;

    position: relative;
    z-index: 1;
  }

  &__log-btn {
    width: 15rem;
    height: 4rem;
    font-size: 1.6rem;
    margin-bottom: 5rem;

    position: relative;
    z-index: 1;
  }

  &__list-img{
    //width: 12%;
  }
}
