.operations {

  .down-arrow {
    display: block;
    margin: 0 auto;
    transform: translateY(-17rem);

    &:hover {
      box-shadow: 0 0rem 4rem $color-secondary;
      border-radius: 50%;
    }

    animation: startup_down-arrow 1s 2s forwards;
    opacity: 0;
    @keyframes startup_down-arrow {
      to {
        opacity: 1;
      }
    }
  }

  .operations-box {
    overflow: hidden;
    max-width: 77rem;
    animation: startup_operations 1s 2s forwards;
    position: relative;
    z-index: 2;

    @media only screen and (min-width: $bp-md) {
      max-width: 70rem;
      border-radius: 5rem;
      box-shadow: 0 2rem 5rem rgba(0, 0, 0, 0.3);
      margin-bottom: 5rem;

      opacity: 0;
      @keyframes startup_operations {
        to {
          opacity: 1;
          margin-top: -15rem;
        }
      }
    }

    @media only screen and (min-width: $bp-lg) {
      max-width: 85rem;

      opacity: 0;
      @keyframes startup_operations {
        to {
          opacity: 1;
          margin-top: -16rem;
        }
      }
    }

    .options {
      position: relative;

      &__ring-big {
        height: 30rem;
        width: 30rem;
        border-radius: 50%;

        position: absolute;
        top: 5rem;
        right: -15rem;
      }
      &__ring-small {
        height: 10rem;
        width: 10rem;
        border-radius: 50%;

        position: absolute;
        top: 14.5rem;
        right: -5rem;
      }

      &__list {
      }

      &__item {
        box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.3),
          inset 1px 2.5px 3px rgba(0, 0, 0, 0.3),
          inset 0px -0.3px 2px rgba(0, 0, 0, 0.3);
        border: 4px #f9f7f1 solid;

        &--1 {
          width: 4rem;
          position: absolute;
          top: 3rem;
          right: 0;
        }
        &--2 {
          width: 6rem;
          position: absolute;
          top: 5rem;
          right: 6rem;
        }
        &--3 {
          width: 8rem;
          position: absolute;
          top: 15rem;
          right: 11rem;
        }
        &--4 {
          width: 6rem;
          position: absolute;
          top: 28rem;
          right: 6rem;
        }
        &--5 {
          width: 4rem;
          position: absolute;
          top: 33rem;
          right: 0;
        }
      }

      &__ring-text {
        margin-top: 6rem;
        h2 {
          font-size: 1.8rem;
        }
      }

      &__dots {
      }

      &__dot {
        position: absolute;
        width: 1rem;
        height: 1rem;
        background-color: $color-secondary;
        border-radius: 50%;
        &--1 {
          top: 14rem;
          right: 0;
        }
        &--2 {
          top: 19rem;
          right: 4.5rem;
        }
        &--3 {
          top: 24rem;
          right: 0;
        }
      }
    }

    .reminder {
      margin-top: 20rem;

      @media only screen and (min-width: $bp-md) {
        margin-top: 5rem;
      }

      &__box {
        background-color: $color-gray-light-1;
        border-radius: 2rem;
        position: relative;
      }

      &__input {
        font-family: inherit;
        height: 4rem;
        padding: 1rem;
        border: none;
        border-radius: 0.8rem;
        border: 0.1rem solid $color-primary;
        padding: 0.5rem 1.8rem;

        &::placeholder {
          font-size: 1.1rem;
          font-weight: 1000;
        }
      }

      &__label {
        width: 100%;
        color: $color-primary;
        font-weight: 1000;
        font-size: 1.3rem;
        margin-bottom: 1rem;
        padding-right: 1.8rem;
      }

      &__btn {
        width: 21.5rem;
        height: 4rem;
        border: none;
        cursor: pointer;
        grid-column: 1/-1;
        justify-self: center;
        align-self: center;
        color: #fff;
        background-color: $color-primary;
        border-radius: 0.8rem;
        font-size: 2.1rem;
        font-weight: 600;
        font-family: inherit;
        margin: 3rem;
      }

      .circles {
        top: -2.5rem;
        position: absolute;
        z-index: -1;
        overflow: hidden;

        .blue-dot {
          height: 7rem;
          width: 7rem;
          background-color: $color-primary;
          border-radius: 50%;
          display: inline-block;
          margin-right: -1.6rem;
          margin-left: -0.5rem;

        }

        .yellow-dot {
          height: 8rem;
          width: 8rem;
          background-color: yellow;
          border-radius: 50%;
          display: inline-block;
          margin-right: -2.2rem;

        }
      }
    }

    .cooperators {
      position: relative;
      height: 45rem;

      &__ring-big {
        height: 30rem;
        width: 30rem;
        border-radius: 50%;

        position: absolute;
        top: 5rem;
        left: -15rem;
      }

      &__ring-small {
        height: 10rem;
        width: 10rem;
        border-radius: 50%;

        position: absolute;
        top: 14.5rem;
        left: -5rem;
      }

      &__item {
        box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.3),
          inset 1px 2.5px 3px rgba(0, 0, 0, 0.3),
          inset 0px -0.3px 2px rgba(0, 0, 0, 0.3);
        border: 4px #f9f7f1 solid;

        &--1 {
          width: 4rem;
          position: absolute;
          top: 3rem;
          left: 0;
        }
        &--2 {
          width: 6rem;
          position: absolute;
          top: 5rem;
          left: 6rem;
        }
        &--3 {
          width: 8rem;
          position: absolute;
          top: 15rem;
          left: 11rem;
        }
        &--4 {
          width: 6rem;
          position: absolute;
          top: 28rem;
          left: 6rem;
        }
        &--5 {
          width: 4rem;
          position: absolute;
          top: 33rem;
          left: 0;
        }
      }

      &__ring-text {
        margin-top: 6rem;
        h2 {
          font-size: 1.8rem;
        }
      }

      &__dot {
        position: absolute;
        width: 1rem;
        height: 1rem;
        background-color: $color-secondary;
        border-radius: 50%;
        &--1 {
          top: 14rem;
          left: 0;
        }
        &--2 {
          top: 19rem;
          left: 4.5rem;
        }
        &--3 {
          top: 24rem;
          left: 0;
        }
      }

      //////////////////

      @media only screen and (min-width: $bp-md) {
        height: 52rem;
        position: relative;

        display: grid;
        grid-template-columns: 1fr;
        align-content: space-between;
      }

      .cycle {
        display: flex;
        justify-content: center;
        align-content: flex-end;

        &__ring-large {
          height: 270px;
          width: 650px;
          border: 2px solid $color-primary;
          border-radius: 50%;
          margin: 20px 80px;
          transform: rotate3d(1, 0, 0, 40deg);
          position: absolute;
        }

        &__ring-small {
          height: 5.8rem;
          width: 12rem;
          border: 2px solid $color-primary;
          border-radius: 50%;
          position: absolute;
          text-align: center;
          transform: translateY(11rem);

          //fo removing the vertical align center of BS for img tags
          img {
            vertical-align: baseline;
          }

          & > * {
            width: 5.5rem;
            height: 5.5rem;
            margin: -4rem 0;
          }

          .dots {
            transform-origin: center;
            .dot {
              width: 1rem;
              height: 1rem;
              border-radius: 50%;
              position: absolute;
              background-color: $color-secondary;
              transition: all 1s;

              &--1 {
                transform: translate(4.5rem, 1.6rem);
              }

              &--2 {
                transform: translate(10rem, 6.2rem);
              }

              &--3 {
                transform: translate(0rem, 6rem);
              }
            }
          }
        }

        &__item {
          position: absolute;
          width: 5rem;
          height: 5rem;
          border-radius: 50%;
          background-color: #eee;
          text-align: center;
          transition: all 1s;

          display: flex;
          justify-content: center;
          align-items: center;

          &--1 {
            transform: scale(0.8) translate(20%, 62%);
          }

          &--2 {
            transform: scale(1) translate(290%, 65%);
          }

          &--3 {
            transform: scale(1.3) translate(460%, 130%);
          }

          &--4 {
            transform: scale(1.6) translate(300%, 240%);
          }

          &--5 {
            transform: scale(2.4) translate(8%, 190%);
          }

          &--6 {
            transform: scale(1.6) translate(-300%, 240%);
          }

          &--7 {
            transform: scale(1.3) translate(-460%, 130%);
          }

          &--8 {
            transform: scale(1) translate(-290%, 65%);
          }
        }

        &__image {
          width: 3rem;
          height: 3rem;
        }

        &__btn {
          border-radius: 50%;
          width: 3rem;
          height: 3rem;
          background-color: $color-gray-light-2;
          position: relative;
          transition: all 0.2s;

          &:hover {
            background-color: $color-secondary;
          }

          &--left {
            transform: scale(1) translate(-7rem, 24rem);

            img {
              position: absolute;
              top: 50%;
              left: 50%;
              transform: translate(-60%, -50%);
            }

            &::before {
              content: "";
              display: inline-block;
              min-width: 2rem;
              min-height: 5rem;
              border: 2px solid $color-gray-light-2;
              border-radius: 50%;
              border-top-color: transparent;
              border-bottom-color: transparent;
              border-right-color: transparent;
              transform: rotate(40deg);
              margin-top: -3.8rem;
              margin-left: 2rem;
            }

            &::after {
              content: "";
              display: inline-block;
              min-width: 2rem;
              min-height: 5rem;
              border: 2px solid $color-gray-light-2;
              border-radius: 50%;
              border-top-color: transparent;
              border-bottom-color: transparent;
              border-right-color: transparent;
              transform: rotate(-40deg);
              margin-left: 2rem;
            }
          }

          &--right {
            transform: scale(1) translate(8.8rem, 23.8rem);

            img {
              position: absolute;
              top: 50%;
              left: 50%;
              transform: translate(-40%, -50%);
            }

            &::before {
              content: "";
              display: inline-block;
              min-width: 2rem;
              min-height: 5rem;
              border: 2px solid $color-gray-light-2;
              border-radius: 50%;
              border-top-color: transparent;
              border-bottom-color: transparent;
              border-left-color: transparent;
              transform: rotate(-40deg);
              margin-top: -3.8rem;
              margin-left: -1.1rem;
            }

            &::after {
              content: "";
              display: inline-block;
              min-width: 2rem;
              min-height: 5rem;
              border: 2px solid $color-gray-light-2;
              border-radius: 50%;
              border-top-color: transparent;
              border-bottom-color: transparent;
              border-left-color: transparent;
              transform: rotate(40deg);
              position: absolute;
              top: 1.7rem;
              right: 2rem;
            }
          }
        }
      }

      .caption {
        background-color: rgba($color-gray-light-1, 0.6);
        border-radius: 2rem;
        padding: 1.5rem 6rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 30rem;

        &__text {
          text-align: center;
          height: 99%;

          transition: all 3s;
        }

        &__btn {
          width: 13rem;
          height: 3rem;
          color: #fff;
          background-color: rgba($color-primary, 0.6);
          border-radius: 0.8rem;
          border: none;
          font-size: 1.6rem;
          font-family: inherit;
          margin: 1.2rem;
          padding: 0.2rem 0rem;
          cursor: pointer;
        }
      }
    }
  }

  .up-arrow {
    background-color: $color-gray-light-1;
    border: 3px solid $color-gray-light-1;
    border-radius: 50%;
    display: block;
    margin-top: -8rem;
    margin-bottom: 5rem;
    position: relative;
    z-index: 3;
  }
}
